*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    
}
.col h2{
    padding: 5px 40px;
    color: #fff;
    border-radius: 10px;
    transition: all .4s ease;
}

.col h2:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



.btn{
     cursor: pointer;
     border: none;
     background: transparent;
     outline: none;
     font-size: 1.5rem;   
     transition: all .4s ease; 
     padding: 10px;
     color: #fff;
     display: grid;
     place-items: center;
     border-radius: 10px;

}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
   
}





